.home {
    width: 100%;
}

.home-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1252px;
    margin: 0 auto;
    width: 100%;
    padding: 70px 30px 80px;
}

.home-intro-text {
    width: 51%;
}

.home-intro-text h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
}

.home-intro-text span {
    font-weight: 700;
    color: #A02279;
}

.home-intro-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
}

.home-form {
    width: 96%;
    margin-top: 50px;
}

.home-form input {
    width: 53%;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    padding: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    font-family: 'Red Rose';
}

.home-form input::placeholder {
    color: #B8B8B8;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Red Rose';
}

.home-form button {
    width: 40%;
    padding: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #A02279;
    color: white;
    font-family: 'Red Rose';
}

.home-intro-img {
    padding: 20px 30px 0 30px;
    width: 40%;
    text-align: right;
}

.home-intro-img img {
    width: 100%;
}

.home-logos {
    background: #A02279;
    margin-bottom: 60px;
}

.home-logos div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    max-width: 1252px;
    margin: 0 auto;
    width: 100%;
}

.home-nfts {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 60px 50px;
}

.home-nfts h2 {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    text-align: center;
}

.home-nfts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.home-nfts-container-item {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 25px;
}

.home-nfts-container img {
    width: 100%;
}

.home-nfts-container-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nfts-container-item div p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #434343;
    margin: 10px 0 0 0;
}

.stars {
    width: 92px !important;
    margin-top: 10px;
}

.home-metabnb {
    background: #A02279;
}

.metabnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 30px;
    max-width: 1252px;
    margin: 0 auto;
}

.home-metabnb-img {
    width: 51%;
}

.home-metabnb-text {
    width: 40%;
    color: white;
}

.home-metabnb-img img {
    width: 100%;
}

.home-metabnb-text h2 {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.home-metabnb-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

@media screen and (max-width: 1023px) {
    .home-intro-text h1 {
        font-size: 40px;
        line-height: 125%;
    }
    .home-intro-text p {
        font-size: 20px;
        line-height: 30px;
    }
    .home-form input {
        width: 65%;
        padding: 10px 18px;
    }
    .home-form button {
        width: 35%;
        padding: 10px 18px;
    }
    .home-intro-img {
        width: 45%;
    }
    .home-nfts h2 {
        font-size: 35px;
        line-height: 60px;
    }
    .home-nfts-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
    }
    .home-nfts-container-item {
        background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
        border: 1px solid #D7D7D7;
        border-radius: 25px;
        padding: 15px;
    }
    
    .home-nfts-container img {
        width: 100%;
    }
    
    .home-nfts-container-item div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .home-nfts-container-item div p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #434343;
        margin: 10px 0 0 0;
    }
    
    .stars {
        width: 92px !important;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1023px) {
    .home-intro {
        flex-direction: column-reverse;
        padding: 0px 30px 60px;
    }
    .home-intro-text {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .home-intro-text h1 {
        font-size: 27px;
        line-height: 140%;
    }
    .home-intro-text p {
        font-size: 18px;
        line-height: 25px;
    }
    .home-form {
        width: 100%;
        margin-top: 30px;
    }
    .home-form input {
        width: 70%;
    }
    .home-form button {
        width: 30%;
    }
    .home-intro-img {
        padding: 20px 80px 0 80px;
        width: 100%;
    }
    .home-intro-img img {
        width: 100%;
    }
    .home-logos {
        background: #A02279;
        margin-bottom: 60px;
    }
    .home-logos div {
        flex-direction: column;
    }
    .home-logos div img {
        margin: 5px 0;
        width: 200px;
    }
    .home-nfts {
        max-width: 1252px;
        margin: 0 auto;
        padding: 0 90px 50px;
    }
    .home-nfts h2 {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 30px;
    }
    .home-nfts-container {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .home-nfts-container-item {
        border-radius: 25px;
    }
    .home-nfts-container img {
        width: 100%;
    }
    .metabnb {
        flex-direction: column-reverse;
        padding: 50px 30px;
        text-align: center;
    }
    .home-metabnb-img {
        width: 100%;
        padding: 0 80px 20px;
    }
    .home-metabnb-text {
        width: 100%;
    }
    .home-metabnb-text h2 {
        font-size: 25px;
        margin-bottom: 0;
    }
    .home-metabnb-text p {
        font-size: 15px;
        line-height: 25px;
        margin-top: 10px;
    } 
}