.modal {
    background: rgba(64, 64, 64, 0.3);
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 0 30px;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.modal-details {
    background: #FFFFFF;
    border-radius: 16px;
    width: 600px;
}

.modal-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding: 30px;
    border-bottom: 1px solid #CFD8DC;
}

.modal-details-header h3 {
    margin: 0;
}

.modal-details-header img {
    cursor: pointer;
}

.modal-wallets {
    padding: 30px;
}

.modal-wallets p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin: 0;
}

.modal-wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background: #F8F9FA;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    padding: 20px 30px;
    margin-top: 20px;
}

.modal-wallet div {
    display: flex;
    align-items: center;
}

.modal-wallet div img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 375px) {
    .modal-details-header {
        font-size: 17px;
        padding: 20px;
    }
    .modal-wallet {
        font-size: 15px;
        padding: 10px 10px;
    }
    .modal-wallets {
        padding: 20px;
    }
    .modal-wallets p {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
    }
}