.navbar {
    padding: 20px 30px;
    background: white;
    position: sticky;
    top: 0;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1252px;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
    margin-left: -50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
}

.navbar button {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 30px;
    border: none;
    font-family: 'Red Rose';
}